# Exclure les fichiers audio specifiques et dossiers
audio/old/

# Exclure les modeles IA et autres dossiers specifiques dans transcription
transcription/sentiment/models--j-hartmann--emotion-english-distilroberta-base/
transcription/onnxmodels/
transcription/test/
transcription/translation/models--facebook--nllb-200-distilled-600M/

# Exclure les fichiers Python generes
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclure les environnements virtuels
venv/
.env/
face/venv/

# Exclure les fichiers de logs et caches
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
*.swp
*.mp4
*.mp3
*.wav
*.png
face/scored_intervals.txt
face/face_scores.json
